* {
  box-sizing: border-box;
}

:host {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  max-width: 20rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background: #000;
  border: 2px solid white;
  color: #fff;
  border-radius: 2rem;
  width: 3.3rem;
  height: 3.3rem;
  overflow: hidden;
  transition: all .6s cubic-bezier(.17,.67,.3,.95);
}

:host form {
  transition: all .6s cubic-bezier(.17,.67,.3,.95);
  opacity: 0;
}

:host(:hover) {
  width: 20rem;
  height: 18.3rem;
  overflow: initial;
  border-radius: initial;
}

:host(:hover) form {
  opacity: 1;
}

.icon {
  width: 2rem;
  height: 2rem;
}

input, textarea, button {
  width: 100%;
  font-family: sans-serif;
  font-size: 1rem;
  border: 0;
  margin: .2rem 0;
}

input, textarea {
  background: #fff;
  color: #000;
}

textarea {
  height: 9.8rem;
}

button {
  background: #555;
  color: #fff;
  height: 2.5rem;
}

button:disabled {
  opacity: 0.5;
}
